form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

input, textarea, select {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form label {
    margin-bottom: 5px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

p {
    background-color: #6dfc73;
    margin-top: 0;
    padding: 2px;
    border-radius: 4px;
    opacity: 0.8;
}