.product-list {
    padding: 20px;
    background-color: var(--background-light);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.product-list .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-header h3 {
    margin: 0;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    position: relative;
}

.close-button {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.close-button:hover {
    background-color: transparent;
    color: var(--danger-color);
}